body {
	background-color: black;
	color: white;
	font-family: Trebuchet MS;
	font-weight: bold;
}

input {
	background-color: black;
	color: white;
	font-family: Trebuchet MS;
	font-weight: bold;
}

button {
	background-color: black;
	color: white;
	font-family: Trebuchet MS;
	font-weight: bold;
}