body {
	background-color: black;
	color: white;
	font-family: Trebuchet MS;
	font-weight: bold;
}

input {
	background-color: black;
	color: white;
	font-family: Trebuchet MS;
	font-weight: bold;
	padding: 3px;
}

button {
	background-color: black;
	color: white;
	font-family: Trebuchet MS;
	font-weight: bold;
	border: 1px white solid;
	margin: 1px;
	border-radius: 3px;
}

input {
	border: 1px white solid;
	margin: 1px;
	border-radius: 3px;
}

#renderScale {
	position: absolute;
	top: 16px;
	left: 1182px;
	width: 50px;
}

#zoomOut {
	position: absolute;
	top: 16px;
	left: 1232px;
}

#zoomIn {
	position: absolute;
	top: 16px;
	left: 1258px;
}

#time {
	position: absolute;
	top: 708px;
	left: 16px;
}

#pause {
	position: absolute;
	top: 683px;
	left: 16px;
}

#reverse {
	position: absolute;
	top: 683px;
	left: 48px;
}

#slow {
	position: absolute;
	top: 683px;
	left: 72px;
}

#fast {
	position: absolute;
	top: 683px;
	left: 104px;
}

#timeScale {
	position: absolute;
	top: 683px;
	left: 136px;
	width: 80px;
}

#newBody {
	position: absolute;
	border: 1px white solid;
	border-radius: 3px;
	padding: 5px;
	visibility: hidden;
}

#centerX {
	position: absolute;
	top: 16px;
	left: 16px;
	width:40px;
}

#centerY {
	position: absolute;
	top: 40px;
	left: 16px;
	width:40px;
}

#closeNewBodyDiv {
	position: absolute;
    right: 5px;
	top: 5px;
}